<table class="table table-stripped">
  <tr>
    <th>Position</th>
    <th>App name</th>
    <th>Category</th>
    <th>Link</th>
    <th>Created at</th>
  </tr>

  <% @apps.each do |app| %>
      <tr>

        <td><%= app.position %></td>
        <td><%= app.title %></td>
        <td><%= app.category %></td>
        <td><a href="<%= app.link %>" target="_blank"><%= app.link %></a></td>
        <td><%= app.created_at %></td>
      </tr>

  <% end %>
</table>
